<p id="notice"><%= notice %></p>

<p>
  <strong>Date due:</strong>
  <%= @loan.date_due %>
</p>

<p>
  <strong>Contribution status:</strong>
  <%= @loan.contribution_status %>
</p>

<p>
  <strong>Contribution notes:</strong>
  <%= @loan.contribution_notes %>
</p>

<p>
  <strong>Loan status:</strong>
  <%= @loan.loan_status %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path(@bike) %>
